* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: #bfffda;
    margin: 7px 10px;
    padding: 15px;
    border-radius: 25px;
    
}
nav > ul {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
    border-radius: 25px;
    padding: 10px;
}
li:hover {
    background-color: #6dfda9;
}

hr {
    width: 93%;
    margin: 10px auto;
    border: 1.5px solid #00ff6a;
}

.indication{
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Aliniere pe orizontală */
    gap: 5px;
}

.image {
    box-shadow: -3px -3px 17px #bfffda;
    width: calc(92% / 4);
    /*aspect-ratio: 1 / 1;*/
    background-color: #bfffda;
    border-radius: 10px;
}
.image:hover {
    background-color: #6dfda9;
}

img {
    width: 100%;
    object-fit: cover;  /*Asigură că imaginea umple pătratul fără distorsiuni */
    aspect-ratio: 1 / 1;  /*Asigură că img rămâne pătrat */
    border-radius: 10px;
}
img:hover {
    padding: 5px;
}
.image > p {
    
}

@media (min-width: 900px) {
    * {
        font-size: 1vw;
    }
    
    .container {
        width: 75%;
        margin: auto;
    }
}
@media (max-width: 900px) {
    * {
        font-size: 1.8vw;
    }
    .container {
        width: 80%;
        margin: auto;
    }
}
@media (max-width: 750px) {
    * {
        font-size: 2vw;
    }
    .container {
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 550px) {
    * {
        font-size: 2.1vw;
    }

    li {
        padding: 5px;
    }
}
