:root {
    --primary-light-color: #bfffcf;
    --secondary-light-color: #7fff7f;
    --third-light-color: #00ff00;

    --primary-dark-color: #003300;
    --secondary-dark-color: #008800;
    --third-dark-color: #00ff00;
}

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(226,255,233,1) 100%);
}
.bodyDark {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,34,0,1) 100%);
}

nav {
    background-color: var(--primary-light-color);
    padding: 5px 0;
    border-radius: 10px;
}
.navDark {
    background-color: var(--primary-dark-color);
}
nav > ul {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}
li:hover {
    background-color: var(--secondary-light-color);
}
.darkLi:hover {
    background-color: var(--secondary-dark-color);
}

hr {
    width: 93%;
    margin: 10px auto;
    border: 1.5px solid var(--third-light-color);
}
/*.darkHr {
    border: 1.5px solid var(--third-dark-color);
}*/

.indication{
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Aliniere pe orizontală */
    gap: 5px;
}

.image {
    /*box-shadow: -3px -3px 17px var(--primary-light-color);*/
    width: calc(92% / 4);
    /*aspect-ratio: 1 / 1;*/
    background-color: var(--primary-light-color);
    border-radius: 10px;
}
.image:hover {
    background-color: var(--secondary-light-color);
    /*box-shadow: -3px -3px 17px var(--secondary-light-color);*/
    padding: 5px;
}
.darkImage {
    /*box-shadow: -3px -3px 17px var(--primary-dark-color);*/
    background-color: var(--primary-dark-color);
}
.darkImage:hover {
    /*box-shadow: -3px -3px 17px var(--secondary-dark-color);*/
    background-color: var(--secondary-dark-color);
}

img {
    width: 100%;
    object-fit: cover;  /*Asigură că imaginea umple pătratul fără distorsiuni */
    aspect-ratio: 1 / 1;  /*Asigură că img rămâne pătrat */
    border-radius: 10px;
}
img:hover {
    
}
.image > p {
    cursor: default;
}

@media (min-width: 900px) {
    * {
        font-size: 1vw;
    }
    
    .container {
        width: 75%;
        margin: auto;
    }
}
@media (max-width: 900px) {
    * {
        font-size: 1.8vw;
    }
    .container {
        width: 80%;
        margin: auto;
    }
}
@media (max-width: 750px) {
    * {
        font-size: 2vw;
    }
    .container {
        width: 90%;
        margin: auto;
    }

    li {
        padding: 8px;
    }
}

@media (max-width: 517px) {
    * {
        font-size: 2.1vw;
    }

    .container {
        width: 100%;
    }

    li {
        padding: 5px;
    }
}
