* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: #bfffda;
    margin: 7px 10px;
    padding: 2px;
    border-radius: 25px;
}
nav > ul {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
    border-radius: 25px;
    padding: 10px;
}

li:hover {
    background-color: #6dfda9;
}

hr {
    width: 90%;
    margin: 10px auto;
    border: 1px solid #00ff6a;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.image {
    width: calc(92% / 4);
    background-color: #bfffda;
    border-radius: 10px;
}

.image:hover {
    background-color: #6dfda9;
    padding: 5px;
}

img {
    width: 100%;
    object-fit: cover;  /*Asigură că imaginea umple pătratul fără distorsiuni */
    aspect-ratio: 1 / 1;  /*Asigură că img rămâne pătrat */
    border-radius: 10px;
}

.image > p {
    margin: 0;
    padding-bottom: 5px;
}

@media (min-width: 900px) {
    * {
        font-size: 1vw;
        margin: 0;
    }
    nav {
        margin: 7px 10px;
        padding: 15px;
    }
    .container {
        width: 75%;
        margin: auto;
    }
}*/
@media (max-width: 900px) {
    * {
        font-size: 1.8vw;
    }
    .container {
        width: 80%;
        margin: auto;
    }
}
@media (max-width: 750px) {
    * {
        font-size: 2vw;
    }
    .container {
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 515px) {
    * {
        font-size: 2.1vw;
    }

    li {
        padding: 5px;
    }
}